# Ignore all 'work' folders
**/work/*


# Ignore simulation and build artifacts
*.log
*.vcd
*.wlf
*.bak
*.tmp
*.o
*.exe
transcript
*.qtl
*.qdb

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

#
wlft*